main {
}

/*Video*/

/*Greeting */
main section {
    height: 70vh;
}

#background-video {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.video-wrapper {
    position: relative;
    z-index: 0;
}

article {
    display: flex;
    flex-direction: row;
    position: relative;
    color: white;
    padding: 0 0 0 5vw;
}

article .left-side, article .right-side {
    flex-basis: 50vw;
}

article .left-side {
    padding: 20px 10vw 0 20px;
    width: 30vw;
}

article h1 {
    margin: 15vh 0 0 0;
    font-size: var(--titles);
}

article p {
    margin: 0;
    font-size: var(--body);
}

.right-side {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.imgs {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.right-side img {
    border-radius: 10px;
    justify-self: center;
}

.redes-sociales {
    padding: 10px;
    border-radius: 10px;
    align-self: center;
    width: 50%;
    background-color: rgba(22, 100, 210, 0.9);
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.redes-sociales img:hover {
    cursor: pointer;
}

/* Content */
aside {
    padding: 0 5vw 2vw 5vw;
}

.departamentos-list {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;

}

.departamento {
    padding: 10px;
    transition-duration: 500ms;
    border-radius: 10px
}

.departamento h4 {
    margin: 0;
    text-align: center;
    font-size: var(--subtitles);
}

.departamento:hover {
    background-color: rgba(215, 215, 215, 0.84);
    cursor: pointer;
}

/* Mobile */
.right-side {
    visibility: hidden;
}

.departamentos-list {
    flex-direction: column;
}

main aside h3 {
    font-size: 5vw;
    text-align: center;
}

.departamento {
    margin: 15px 0 15px 0;
}

.departamento div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.departamento img {
    text-align: center;
    justify-content: center;
    width: 80vw;
    height: 20vh;
    margin-bottom: 10px;
}

article {
    justify-content: center;
}

.departamento h4 {
    font-size: 3vw;
}

.left-side {
    width: 100vw;
}

.right-side {
    width: 1px;
}

@media (min-width: 768px) {

    article p {
        margin: 0;
        font-size: var(--body);
    }

    header nav section a {
        font-size: 4vw;
    }

    .right-side {
        visibility: hidden;
    }

    .departamentos-list {
        flex-direction: column;
    }

    main aside h3 {
        font-size: 5vw;
        text-align: center;
    }

    .departamento {
        margin: 15px 0 15px 0;
    }

    .departamento div {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .departamento img {
        text-align: center;
        justify-content: center;
        width: 80vw;
        height: 40vh;
        margin-bottom: 10px;
        border-radius: 20px;
    }

    .departamento h4 {
        font-size: 4vw;
    }
}

@media (min-width: 992px) {

    .right-side {
        visibility: visible;
    }

    article {
        flex-direction: row;
        height: 40vh;
        margin: 0 20px 0 20px;
    }

    header nav section a {
        font-size: var(--subtitles);
        align-self: center;
    }

    body main aside h3 {
        text-align: center;
        font-size: var(--titles);
    }

    .departamentos-list {
        flex-direction: column;

    }

    .departamento img {
        height: 15vh;
        width: auto;
    }

    .departamento h4 {
        font-size: var(--subtitles);
    }

    .departamentos-list {
        flex-direction: row;
    }
}



.right-side .redes-sociales a img {
    margin-left: 10px;
    margin-right: 10px;
}