/*Heading and navigation*/
:root {
    --primary-color: #AFC3CE;
    --font-color: #2D4152;
}


* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin: 0;
}

/* Header styling*/
header {
    background: linear-gradient(200deg, #aec7d7, #f1f2ed);
    width: 100vw;
    height: 100vh;
}

header nav h1 {
    display: none;
    margin-top: 0;
    text-align: center;
    color: var(--font-color);
    font-size: 24pt;
}

#travigo-logo {
    margin-top: 20px;
    width: 50vw;
    transition-duration: 500ms;
    align-self: center;
}

#text-area {
    border: solid black 1px;
    padding: 30px;
    height: 30vh;
    width: 33vw;
}

/* NavBar styling*/
nav {
    display: flex;
    flex-direction: column;
}

nav section {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
}

nav section a {
    width: 100vw;
    text-align: center;
    color: var(--font-color);
    font-weight: bold;
    font-size: 18pt;
    margin: 1vh 0 1vh 0;
    text-decoration: none;

    transition-duration: 500ms;
}

nav section a:hover {
    cursor: pointer;
    font-size: 24pt;
}


#text-and-images-area {
    display: flex;
    flex-direction: column;
}

/* Main content area */

@media screen and (min-width: 360px) {
    nav section a {
        font-size: 42pt;
    }

    #text-area {
        margin: 5vw;
        font-size: 36pt;
    }

    #images-area {
        display: flex;
        flex-direction: row;
        margin: 5vw;
    }

    #images-area img {
        padding-left: 1vw;
        width: 50vw;
    }
}

@media screen and (min-width: 766px) {
    /*Nav */
    header {
        padding: 0 20px 100px 20px;
        justify-content: space-between;
    }

    #travigo-logo {
        width: 10vw;
    }

    nav {
        flex-direction: row;
        justify-content: space-between;
    }

    nav section {
        flex-direction: row;
    }

    nav section a {
        font-size: 16pt;
        width: auto;
        margin: 0 1vw 0 1vw;
    }

    /*Text and images*/
    #text-and-images-area {
        flex-direction: row;
    }

    #text-area h2 {
        font-size: 2vw;
    }

    #text-area p {
        font-size: 16pt;
    }

    #images-area {
        flex-direction: column;
    }

    #images-area img {
        margin-top: 10px;
        width: auto;
    }
}