/*Heading and navigation*/
:root {
    --primary-color: #AFC3CE;
    --font-color: #2D4152;
}


* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin: 0;
}

/* Header styling*/
header {
    background: linear-gradient(200deg, #aec7d7, #ffffff);
    width: 100vw;
    height: 250vh;
}

header nav h1 {
    display: none;
    margin-top: 0;
    text-align: center;
    color: var(--font-color);
    font-size: 24pt;
}

#travigo-logo {
    margin-top: 20px;
    width: 50vw;
    transition-duration: 500ms;
    align-self: center;
}

hr {
    border: solid grey 0.2px;
    padding: 0 25px 0 25px;
}

/* NavBar styling*/
nav {
    display: flex;
    flex-direction: column;
}

nav section {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
}

nav section a {
    width: 100vw;
    text-align: center;
    color: var(--font-color);
    font-weight: bold;
    font-size: 18pt;
    margin: 1vh 0 1vh 0;
    text-decoration: none;

    transition-duration: 500ms;
}

nav section a:hover {
    cursor: pointer;
    font-size: 24pt;
}

/* Greeting */
main {
    display: flex;
    flex-direction: column;
    padding: 0 25px 0 25px;

}

/*--Text*/
main #text-area {
    padding: 0 2vw 0 2vw;
}

main #text-area h2 {
    font-size: 24pt;
}

main #text-area p {
    font-size: 18pt;
}

/*--Images*/
main #images-area {
    display: flex;
    flex-direction: row;
}

main #images-area .left-side {
    height: 50vh;
}

main #images-area .right-side img {
    height: 50vh;
}

main #images-area .left-side img {
    height: 25vh;
    width: 40vw;
}

@media screen and (min-width: 768px) {
    header {
        padding: 20px;
    }

    /* Brading and nav bar*/
    header nav {
        flex-direction: row;
        justify-content: space-between;
    }

    /* Links */
    header section {
        flex-direction: row;
    }

    #travigo-logo {
        width: 10vw;
    }

    header section a {
        width: auto;
        margin-right: 25px;
        font-size: 14pt;
    }

    header section a:hover {
        font-size: 16pt;
        transition-duration: 200ms;
    }

    /*  Greeting */

}