header {
    background: linear-gradient(200deg, #aec7d7, #ffffff);
    width: 100vw;
    height: 130vh;
}

/* Greeting */
main {
    display: flex;
    flex-direction: column;
    padding: 0 25px 0 25px;

}

/*--Text*/
main #text-area {
    padding: 0 2vw 0 2vw;
}

main #text-area h2 {
    font-size: 24pt;
}

main #text-area p {
    font-size: 18pt;
}

/*--Images*/
main #images-area {
    display: flex;
    flex-direction: row;
}

main #images-area .left-side {
    height: 50vh;
}

main #images-area .right-side img {
    height: 50vh;
    width: 50vw;
}

main #images-area .left-side img {
    height: 25vh;
    width: 40vw;
}

/*Content - POPULARES*/
aside {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

aside div h2 {
    font-size: 8vw;
    text-align: center;
}

aside div div {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

aside div .popular {
    font-size: 4vw;
    cursor: pointer;
    margin: 1vh 0 1vh 0;
}

aside div .popular:hover img {
    width: 95vw;
}

aside div .popular img {
    width: 90vw;
    align-self: center;
    border-radius: 50px;
    transition-duration: 500ms;
}

aside div .popular h3 {
    text-align: center;
    font-weight: bold;
}


/*Content - TEMPORADA*/
.temporada {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
}

.temporada h2 {
    margin: 2vh 0 0vh 0;
}

.temporada p {
    text-align: center;
    margin: 0 0 3vw 0;
    font-size: 4vw;
}

.temporada img {
    align-self: center;
    width: 90vw;
    height: auto;
}

button {
    align-self: center;
    height: 5vh;
    width: 50vw;
    font-size: 5vw;
    background-color: var(--font-color);
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
}


@media (min-width: 768px) {
    header {
        padding: 20px;
        height: 100vh;
    }

    /* Brading and nav bar*/
    header nav {
        flex-direction: column;
        justify-content: space-between;
    }

    /* Links */
    header section {
        flex-direction: column;
        margin-top: 1vh;
        justify-content: center;
    }

    #travigo-logo {
        width: 50vw;
    }

    header section a {
        width: auto;
        margin-right: 25px;
        font-size: 4vw;
    }

    header section a:hover {
        font-size: 5vw;
        transition-duration: 200ms;
    }

    /*  Greeting */
    main #text-area h2 {
        font-size: 7vw;
    }

    main #text-area p {
        font-size: 5vw;
    }

    /*--Images*/
    main #images-area {
        display: flex;
        flex-direction: row;
    }

    main #images-area .left-side {
        height: 30vh;
    }

    main #images-area .right-side img {
        height: 30vh;
        width: 50vw;
    }

    main #images-area .left-side img {
        height: 15vh;
        width: 40vw;
    }

}

@media (min-width: 1200px) {
    /*Header*/
    header nav {
        flex-direction: row;
    }

    header nav section {
        flex-direction: row;
        align-content: baseline;
    }

    #travigo-logo {
        align-self: center;
        width: 10vw;
    }

    header nav section {
        margin-bottom: 10px;
    }

    header nav section a {
        font-size: var(--subtitles);
        align-self: center;
    }

    header nav section a:hover {
        font-size: 1.5vw;
    }

    /* Greeting */
    main {
        display: flex;
        flex-direction: row;
        padding: 0 25px 0 25px;

    }

    /*--Text*/
    main #text-area {
        padding: 0 2vw 0 2vw;
    }

    main #text-area h2 {
        font-size: 4vw;
    }

    main #text-area p {
        font-size: 1.5vw;
    }

    /*--Images*/
    main #images-area {
        display: flex;
        flex-direction: row;
        width: 60vw;
        height: 100vh;
    }

    #images-area img {
        padding: 10px;
    }

    main #images-area .left-side {
        height: 80vh;
    }

    main #images-area .right-side img {
        height: 50vh;
        width: 20vw;
    }

    main #images-area .left-side img {
        height: 35vh;
        width: auto;
    }

    /*Content - POPULARES*/
    aside {
        flex-direction: row;
    }


    aside div {
        width: 60vw;
    }

    aside div h2 {
        font-size: var(--titles);
        text-align: center;
    }

    hr {
        display: none
    }

    aside div div {
        width: 60vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    aside div .popular {
        width: 25vw;
        display: flex;
        flex-direction: column;
        font-size: var(--subtitles);
        cursor: pointer;
        margin: 1vh 0 1vh 0;
    }

    aside div .popular:hover img {
        width: 22vw;
    }

    aside div .popular img {
        aspect-ratio: 3 / 2;
        width: 20vw;
        align-self: center;
        border-radius: 20px;
        transition-duration: 500ms;
    }

    aside div .popular h3 {
        text-align: center;
        font-weight: bold;
    }


    /*Content - TEMPORADA*/
    .temporada {
        margin-top: 20vh;
        width: 100vw;
        flex-direction: column;
    }

    .temporada .temporada-text {
        flex-direction: column;
    }

    .temporada h2 {
        margin: 2vh 0 0vh 0;
        font-size: var(--titles);
    }

    .temporada p {
        text-align: center;
        font-size: var(--body);
        margin: 0 0 10px 0;
    }

    .temporada img {
        align-self: center;
        width: 30vw;
        height: auto;
    }

    button {
        align-self: center;
        height: 6vh;
        width: 10vw;
        font-size: var(--body);
        background-color: var(--font-color);
        color: #ffffff;
        border-radius: 10px;
        cursor: pointer;
    }


}
