/*Main text with image*/
main {
    width: 100%;
    height: 100vh;
    background-image: url("./background.png");
    background-size: cover;
    color: white;
}

h2 {
    margin: 0;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article section {
    flex-basis: 50vw;
}

/*Text area*/
.text-area {
    padding: 10vw;
}

.text-area h2 {
    font-size: var(--titles);
}

.text-area p {
    font-size: var(--subtitles);
}

/*Links area*/
.links-area {
    display: flex;
    flex-direction: column;
    margin-top: 40vh;
    align-self: center;
}

.links-area button {
    margin: 5px 0;
    border: none;
    color: white;
    background-color: var(--primary-color);
    width: 30vw;
    font-size: var(--body);
    transition-duration: 300ms;
    cursor: pointer;
}

/*Inits*/
.links-area button:nth-child(1) {
    margin-left: 15px;
}

.links-area button:nth-child(2) {
    margin-left: 10px;
}

.links-area button:nth-child(3) {
    margin-left: 5px;
}

/*Hovers*/
.links-area button:nth-child(1):hover {
    margin-left: 20px;
}

.links-area button:nth-child(2):hover {
    margin-left: 15px;
}

.links-area button:nth-child(3):hover {
    margin-left: 10px;
}

/*Footer custom styles*/
footer {
    margin-top: 0;
}