main {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

main section h1 {
    font-size: var(--titles);
    margin: 0;
}


/*Tiles*/

/*Main tile*/
.main-tile {
    display: flex;
    flex-direction: row;
    width: 70vw;
    padding: 15px;
    margin-bottom: 5vh;
    transition-duration: 500ms;
}


.main-tile img {
    height: auto;
    width: 25vw;
    height: 25vh;
    border-radius: 10px;
}

.main-tile .text-area {
    margin-left: 30px;
    width: 30vw;
}

/*Common tiles*/
.content {
    width: 70vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.tile {
    margin: 5px;
    padding: 15px;
    width: 60vw;
    border-radius: 10px;
    transition-duration: 500ms;
}

.tile:hover {
    cursor: pointer;
    background-color: rgba(215, 215, 215, 0.84);
}

.tile img {
    width: 60vw;
    height: 20vh;
    border-radius: 10px;
}

.tile h3 {
    font-size: var(--subtitles);
}

.tile p {
    font-size: var(--body);
}

/*Ads*/
main aside div img:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    header nav section a {
        font-size: 4vw;
    }

    .tile h3 {
        font-size: 3.5vw;
    }

    .tile p {
        font-size: 3vw;
    }

}


@media (min-width: 992px) {
    .content {
        flex-direction: row;
    }
    .tile {
        width: 18vw;


    }

    .tile img {
        width: 18vw;
    }

    header nav section a {
        font-size: var(--subtitles);
        align-self: center;
    }

    main section h1 {
        font-size: 1.8vw;
        margin: 0;
    }

    .tile h3 {
        font-size: 1.5vw;
    }

    .tile p {
        font-size: 1.62vw;
    }

}

@media (min-width: 1200px) {
    .content {
        flex-direction: row;
    }

    .tile {
        width: 20vw;
    }

    .tile img {
        height: auto;
        width: 20vw;
    }

    .tile p {
        font-size: 1vw;
    }
}


