:root {
    --primary-color: #5d8dec;
    --primary-variant-color: #5099F4;
    --font-color: #2D4152;
    --titles: 24pt;
    --subtitles: 18;
    --subtitles-plus-two: 15;
    --body: 12pt;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}