/*Heading and navigation*/
/* Header styling*/


header {
    background-color: var(--primary-color);
    height: 5vh;
}

header nav h1 {
    display: none;
    margin-top: 0;
    text-align: center;
    color: #ffffff;
    font-size: 5vw;
}

#travigo-logo {
    width: 20vw;
    transition-duration: 500ms;
    align-self: center;
}

/* NavBar styling*/
nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

nav section {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
}

nav section a {
    width: 100vw;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: var(--subtitles);
    margin: 1vh 0 1vh 0;
    text-decoration: none;
    padding: 10px;

    border-radius: 10px;
    transition-duration: 300ms;
}

nav section a:hover {
    cursor: pointer;
    font-size: var(--subtitles-plus-two);
    background-color: var(--primary-variant-color);
}

@media (min-width: 768px) {
    header {
        padding: 20px;
        height: 65vh;
    }

    /* Brading and nav bar*/
    header nav {
        flex-direction: column;
        justify-content: space-between;
    }

    header nav > a {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* Links */
    header section {
        flex-direction: column;
        margin-top: 1vh;
        justify-content: center;
    }

    #travigo-logo {
        width: 50vw;
    }

    header section a {
        width: auto;
        margin-right: 25px;
        font-size: 4vw;
    }
}


@media (min-width: 992px) {
    header {
        height: 5vh;
    }

    /*Header*/
    header nav {
        flex-direction: row;
    }

    header nav section {
        flex-direction: row;
        align-content: baseline;
    }

    #travigo-logo {
        align-self: center;
        width: 10vw;
    }

    header nav section {
        margin-bottom: 10px;
    }

    header nav section a {
        font-size: var(--subtitles);
        align-self: center;
    }
}